#!/usr/bin/make -f 
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#ifeq ($(CARCH), amd64)
#export LD_LIBRARY=/usr/lib/x86_64-linux-gnu/libfakeroot:/usr/lib64/libfakeroot:/usr/lib32/libfakeroot
#../../sysroot/lib/powerpc-linux-gnu/:../../sysroot/usr/lib/powerpc-linux-gnu/
#endif

export DEB_BUILD_HARDENING=1
export DEB_BUILD_OPTIONS+=noopt
#
#include /usr/share/hardening-includes/hardening.make
#
export CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
export LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
#export CFLAGS+=$(HARDENING_CFLAGS)
#export LDFLAGS+=$(HARDENING_LDFLAGS)
DH_OPTION=-v

%:
	dh $@ --with systemd

app-configure-stamps = stamp.ptmd-configure-gen stamp.ptmd-configure
app-build-stamps = stamp.ptmd-build

stamp.ptmd-configure-gen: configure.ac Makefile.am
	autoreconf --install
	touch $@
#
# when configure is run manually, the default prefix is /usr/local,
# but under dh_auto_configure, it is /usr. To ensure consistency regardless
# of method, we use a prefix override.
#
stamp.ptmd-configure: configure
	dh_auto_configure --
	touch $@

stamp.ptmd-build: Makefile
	dh clean
	$(MAKE) clean && scripts/create-sym-links.sh && $(MAKE)
	touch $@

override_dh_auto_build: $(app-build-stamps)

override_dh_auto_clean:

override_dh_auto_test:

override_dh_auto_configure: $(app-configure-stamps)

override_dh_auto_test:

override_dh_strip:

override_dh_auto_install:
	dh_auto_install
	scripts/deb-rst2man.sh .
	install --mode=644 -D debian/rsyslog.d-ptmd.conf debian/tmp/etc/rsyslog.d/30-ptmd.conf
	install --mode=644 -D debian/ptmd.conf debian/tmp/etc/systemd/system/ptmd.service.d/ptmd.conf

override_dh_installinit:
	dh_installinit --no-act
